<?xml version="1.0" ?>
<launch>

    <node name="filter_data_finger0" pkg="sun_tactile_sensors_filter" type="filter_data.py" output="screen">
        <param name="finger_number" type="int" value="0"/>
        <param name="samplerate" type="double" value="300"/>
    </node>

    <node name="filter_data_finger1" pkg="sun_tactile_sensors_filter" type="filter_data.py" output="screen">
        <param name="finger_number" type="int" value="1"/>
        <param name="samplerate" type="double" value="300"/>
    </node>

</launch>
